.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    height: 90%; 
}

.custom-input-spacing {
    margin-bottom: 20px; 
}

.custom-input-border {

    padding: 10px; 
    display: inline-block; 
}
